@media (max-width: 1550px) {
  main {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  main {
    width: 60%;
  }
}

@media (max-width: 1300px) {
  .trending-page {
    width: 90%;
    margin: 40px auto;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 90vh;
  }

  main .section1 h1 {
    font-size: 3.5vw;
  }

  main .section1 h3 {
    font-size: 2vw;
  }

  main .section1 p {
    font-size: 1.2vw;
  }

  main {
    width: 50%;
    height: 80%;
  }

  nav {
    justify-content: space-between;
    padding: 25px;
  }

  main .section2 .main-button {
    height: 45px;
  }

  main .section2 .main-button1 {
    width: 30vw;
  }

  main .section2 .main-button2 {
    width: 18vw;
  }

  .trend-img-container .trend-img img {
    height: 250px;
  }
}

@media (max-width: 1100px) {
  .trending-page {
    width: 100%;
  }
  .trending-page h1 {
    padding: 12px;
  }
  .question-section {
    width: 90%;
  }

  .question-section .question-box h2 {
    font-size: 26px;
  }
  .question-section .question-box i {
    font-size: 35px;
  }
  .login-section .login-container .login-button1{
    width: 45vw;
  }
}

@media (max-width: 1000px) {
  .header {
    height: 80vh;
  }

  .join-icon {
    font-size: 30px;
  }

  .join-section .join-container-parent .join-container h2 {
    padding: 10px;
  }

  .join-section .join-container-parent .join-container p {
    padding: 10px;
  }

  main {
    width: 60%;
    height: 80%;
  }

  main .section1 h1 {
    font-size: 3.9vw;
  }

  main .section1 h3 {
    font-size: 2.8vw;
    line-height: 2;
  }

  main .section1 p {
    font-size: 1.7vw;
    line-height: 2;
  }

  nav {
    justify-content: space-between;
    padding: 15px;
  }

  main .section2 .main-button {
    height: 5vw;
  }

  main .section2 .main-button2 {
    font-size: 2vw;
  }

  main .section2 .main-button1 {
    width: 40vw;
    font-size: 2vw;
  }
}

@media (max-width: 900px) {
  .trend-img-container .trend-img img {
    height: 250px;
  }

  .question-section .question-box h2 {
    font-size: 23px;
  }
  .question-section .question-box i {
    font-size: 30px;
  }

  .join-section .join-container-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .join-section .join-container-parent .join-container {
    height: 240px;
    width: 46%;
    background: linear-gradient(
      to bottom right,
      rgb(13, 13, 129),
      rgb(164, 22, 53)
    );
    margin-bottom: 20px;
  }

  .trend-img-container .trend-img h1 {
    position: absolute;
    top: 60%;
    left: -25px;
    font-size: 60px;
    font-weight: 900;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white, -1px 0px 0 white, 1px 0px 0 white, 0px -1px 0 white,
      0px 1px 0 white;
  }

  .trending-page .trend-img-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-evenly;
  }

  .login-section p{
    font-size: 1.8vw;
  }

  .login-section .login-container input{
    width: 60vw !important;
  }

  .login-section .login-container .login-button2{
    width: 25vw;
    font-size: 2.2vw;
  }

}

@media (max-width: 750px) {
  .trending-page h1 {
    padding-left: 8px;
  }
  .trend-img-container .trend-img img {
    height: 250px;
  }
  .trend-img-container .trend-img h1 {
    position: absolute;
    top: 50%;
    left: -20px;
    font-size: 60px;
    font-weight: 900;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white, -1px 0px 0 white, 1px 0px 0 white, 0px -1px 0 white,
      0px 1px 0 white;
  }
  .trending-page .trend-img-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-evenly;
  }

  footer .links{
    display: block;
  }

  footer .links a{
    margin-bottom: 13px;
  }

}

@media (max-width: 600px) {
  nav .nav-image img {
    height: 35px;
  }

  .login-section input {
    height: 45px !important;
    width: 65vw !important;
    padding: 10px;
  }
  .login-section input::placeholder{
    font-size: 3vw;
  }
  .login-section .login-container button {
    height: 45px !important;
    width: 37vw !important;
    font-size: 3.2vw !important;
  }
  .login-section p {
    font-size: 3.2vw;
  }

  .question-section .question-box h2 {
    font-size: 15px;
  }
  .question-section .question-box i {
    font-size: 20px;
  }

  .question-section h1 {
    font-size: 23px;
  }

  .question-section .question-box {
    height: 50px;
    padding: 10px;
  }

  .join-section .join-container-parent .join-container h2 {
    font-size: 20px;
    padding: 10px;
    font-family: netflix;
  }

  .join-section .join-container-parent .join-container p {
    padding: 10px;
  }

  .nav-button .button {
    height: 40px;
    border-radius: 5px;
  }

  nav {
    padding: 0 20px;
    height: 70px;
  }

  .nav-button .button1 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #f2f2f2;
    text-align: center;
    border: 1px solid rgb(119, 117, 117);
    font-size: 11px;
    font-weight: 700;
  }

  .nav-button .button span {
    display: none;
  }

  .nav-button .button2 {
    width: 50px;
    background-color: #e00914;
    color: white;
    border: 1px solid #e00914;
    font-weight: 700;
    font-size: 10px;
  }

  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(assests/header-image.png);
    height: 70vh;
    width: 100%;
    background-size: cover;
  }

  main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  main .section1 h1 {
    font-size: 24px;
  }

  main .section1 h3 {
    font-size: 17px;
  }

  main .section1 p {
    font-size: 13px;
    margin-bottom: 10px;
  }

  main .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main .section2 .main-button {
    height: 50px;
  }

  main .section2 .main-button1 {
    width: 80vw;
  }

  main .section2 .main-button1::placeholder {
    font-size: 12px;
  }

  main .section2 .main-button2 {
    width: 200px;
    font-size: 18px;
  }

  .trending-page {
    width: 95%;
    flex-wrap: wrap;
  }

  .trending-page h1 {
    padding-left: 8px;
  }
  .trend-img-container .trend-img img {
    height: 200px;
  }
  .trend-img-container .trend-img h1 {
    position: absolute;
    top: 60%;
    left: -18px;
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white, -1px 0px 0 white, 1px 0px 0 white, 0px -1px 0 white,
      0px 1px 0 white;
  }

  .trending-page .trend-img-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-evenly;
  }

  .join-section .join-container-parent .join-container h2 {
    font-size: 18px;
  }

  .question-section {
    width: 95%;
  }

  .join-section .join-container-parent .join-container p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .trending-page h1 {
    text-align: center;
  }

  .join-section .join-container-parent {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .join-section .join-container-parent .join-container {
    width: 100%;
    height: 200px;
    margin: 10px 0;
  }
  .join-section .join-container-parent .join-container h2 {
    font-size: 5vw;
    padding: 12px;
  }
  .join-section .join-container-parent .join-container p {
    font-size: 3.8vw;
    padding: 12px;
  }
  .join-icon {
    font-size: 6vw;
  }

  .join-section .join-container-parent .join-container h2 {
    font-size: 20px;
  }

  .join-section .join-container-parent .join-container p {
    font-size: 16px;
  }
  .login-section .login-container .login-button{
    height: 42px;
  }
  .login-section .login-container .login-button input{
    width: 60vw;
  }
  .login-section .login-container .login-button button{
    width: 40vw;
  }
}
