@font-face {
    font-family: netflix;
    src: url(fonts/netflix-sans-core-variable-full.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: netflix;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: #F2F2F2;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assests/header-image.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

/* nav  */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}

nav .nav-image img {
    height: 40px;
}

.nav-button .button {
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}

.nav-button .button1 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #F2F2F2;
    text-align: center;
    border: 1px solid rgb(119, 117, 117);
    font-size: 15px;
    font-weight: 700;
}
.nav-button .button2{
    width: 70px;
    background-color: #e00914;
    color: white;
    border: 1px solid #e00914;
    font-weight: 700;
    font-size: 14px;
}
.nav-button{
    display: flex;
    gap: 10px;
}

/* main  */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 40%;
    margin: 0 auto;
}
main .section1 h1{
    font-size: 3vw;
    font-family: netflix;
    font-weight: 900;
}
main .section1 h3{
    font-size: 2vw;
    font-family: netflix;
    line-height: 3;
}
main .section1 p{
    font-size: 1vw;
    font-family: netflix;
    line-height: 2.5;
}
main .section2 .main-button{
    height: 60px;
    border-radius: 5px;
}
main .section2 .main-button1{
    width: 450px;
    background : linear-gradient(rgba(30, 29, 29, 0.7));
    border: 1px solid rgb(116, 112, 112);
    padding-left: 11px;
    font-size: 17px;
}
.main-button1::placeholder{
    color: rgb(172, 162, 162);
}
main .section2{
    display: flex;
    gap: 8px;
}
main .section2 .main-button2{
    width: 210px;
    font-size: 23px;
    font-family: netflix;
    background-color: #e00914;
    color: #F2F2F2;
    font-weight: 700;
    border: 1px solid #e00914;
}